.btn {
  background-color: var(--orange-brand);
  color: #{$white};
  border: none;
  // border-radius: 50px;
  border-radius: 0;
  font-family: var(--font-display);
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: var(--yellow-brand);
  }
}