////////////////////////////////////////////////
// ### REGULAR BUTTON
%btn {
  display: block;
  background-color: transparent;
  color: #{$white};
  border: none;
  outline: none;
  border-radius: 0;
  font-family: var(--font-display);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn {
  @extend %btn;
  transition: all 0.2s ease-in-out;

  &--orange {
    // background-color: var(--orange-brand);
    background-image: linear-gradient(to right bottom, var(--orange-brand), var(--yellow-brand));
    transition: all 0.2s ease-in-out;
    &:hover {
      // background-color: lighten($orange-brand, 5);
      background-image: linear-gradient(to left top, var(--orange-brand), var(--yellow-brand));
      opacity: .95;
    }
  }

  &--inverse {
    border: 2px solid var(--orange-brand);
    padding: 1.5rem 4rem;
    &:hover {
      background-color: lighten($orange-brand, 5);
    }
  }

  &--large {
    padding: 1.8rem 3rem;
    font-size: 1.2rem;
  }

  &--small {
    padding: 1.5rem 2rem;
    font-size: 1rem;
  }

  &--sm-none {
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }
}


////////////////////////////////////////////////
// ### NARROW EFFECT BUTTON
.btn-narrow {
  @extend %btn;
  position: relative;
  border: 2px solid var(--yellow-brand);
  color: var(--orange-brand);
  font-weight: 600;
  overflow: hidden;
  transition: all 0.3s;

  &--large {
    padding: 1.5rem 4rem;
    font-size: 1.2rem;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease-in;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    // background: $orange-brand;
    background-image: linear-gradient(to right bottom, var(--orange-brand), var(--yellow-brand));
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &:hover,
  &:active {
    color: #f5f5f5;
  }

  &:hover:after {
    height: 260%;
    opacity: 1;
    background-image: linear-gradient(to left top, var(--orange-brand), var(--yellow-brand));
  }

  &:active:after {
    height: 400%;
    opacity: 1;
  }
}

////////////////////////////////////////////////
// ### CALL TO ACTION BUTTON TOURS
.btn-cta {
  @extend %btn; 
  position: relative;
  overflow: hidden;
  font-weight: 300;
  // border-radius: 100px;
  background-image: linear-gradient(to right bottom, var(--orange-brand), var(--yellow-brand));
  color:  $white;

  & > * {
    display: block;
    height: 100%;
    width: 100%;
    transition: all .3s ease;
  } 

  &--visible {
    padding: 1.8rem 6rem;
  }

  &--invisible {
    display: inline-block;
    padding: 2rem 0;
   
    position: absolute;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left top, var(--orange-brand), var(--yellow-brand));
  }

  &:hover &--visible {
    transform: translateY(100%);
    }

  &:hover  &--invisible {
      top: 0
  }

  // &:focus {
  //   outline: none;
  //   animation: pulsate 1s infinite;
  // }
  

}
