.btn {
  background-color: transparent;
  color: #{$white};
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1.2rem;

  &--orange {
    background-color: var(--orange-brand);
    &:hover {
      background-color: lighten($orange-brand, 5) ;
    }
  }

  // ghost button
  &--inverse {
    border: 2px solid  var(--orange-brand);
    padding: 1.5rem 4rem;
      &:hover {
      background-color: lighten($orange-brand, 5) ;
    }
  }

}