.cta-ship {
  grid-column: full-start / full-end;
  height: 60vh;

  position: relative;
  z-index: 1;
  position: relative;
  overflow: hidden;

  &.lazyloaded {
    background: linear-gradient(
        to right,
        rgba(#98a35d, 0.1),
        rgba(#020202, 0.2),
        rgba(rgb(226, 26, 26), 0.3)
      ),
      url("/assets/images/cta--bg-3.webp") center center/cover no-repeat,
      #020202;
    background-attachment: fixed;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 800;
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 2.85rem;
    }
  }

  &__backdrop {
    position: absolute;
    background-color: rgba(#000, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
    width: 100%;
    padding-top: 4rem 2vw 0;
    @media screen and (max-width: $breakpoint-sm) {
      left: 10%;
      width: 90%;
    }
  }

  &__paragraph {
    width: 60%;
    color: $grey--lighter;
    font-size: 2rem;
    text-align: left;
    margin: 1rem 0 4rem 0;
  }
}
