.features {
  background-color: $grey--lighter;
  grid-column: center-start / center-end;

  margin: 15rem 0;

  // Implicit grid
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
}

.feature {

  &__icon {
    fill: var(--orange-brand);
    width: 6rem;
    height: 6rem;

    display: flex;
    justify-content: center;

    transition: .3s all ease-out;

    &:hover {
      fill: var(--yellow-brand);
      transform: scale(1.2);
    }
  }

  &__text {
    font-size: var(--font-size-small);
    // font-size: 2vmin;
  }
}