// Layout block
.services {
  grid-column: center-start / center-end;
}

.features {
  // background-color: $grey--lighter;
  background-color: #fff;
  align-items: start;

  display: grid;
  grid-template-columns: repeat(1, minamax(min-content, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); // responsive without @media
  grid-gap: 1rem;

  @media screen and (min-width: $breakpoint-sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }

  &__content-text {
    max-width: 700px;
    text-align: justify;
    word-wrap: break;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: var(--font-size--medium);
    padding: 0 1rem;

    @media (max-width: $breakpoint-sm) {
      margin-bottom: 5rem;
      font-size: 1.4rem;
    }
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.3rem;
  padding: 0.5rem;

  @media (min-width: $breakpoint-sm) {
    padding: 2rem;
  }

  &__icon {
    fill: var(--orange-brand);
    width: 8rem;
    height: 8rem;

    grid-row: 1 / span 2;
    align-self: start;

    transform: translateY(-2.7rem);
    transition: 0.3s all ease-out;

    &:hover {
      fill: var(--yellow-brand);
      transform: translateY(-3.3rem) scale(1.05);
    }
  }

  &__text {
    font-size: var(--font-size-small);
    line-height: 1.5;
    // font-size: 2vmin;
  }
}
