.footer {
  background-color: #191d32;
  grid-column: full-start / full-end;

  &__wrapper {
    display: grid;

    grid-template-columns: 1fr;
    justify-content: start;
    grid-gap: 3rem;

    padding: 6rem 0;

    @media screen and (min-width: $breakpoint-sm) {
      grid-template-columns: repeat(2, 200px);
      justify-content: center;
      justify-items: center;
      grid-column-gap: 5rem;
    }

    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(4, 150px);
      justify-content: center;
      justify-items: center;
      grid-column-gap: 3rem;
    }
  }

  &__heading-color {
    color: $orange-brand;
    font-weight: bold;
  }

  &__list {
    text-align: center;

    @media screen and (min-width: $breakpoint-sm) {
      text-align: start;
    }
  }

  &__item {
    text-transform: capitalize;
    // font-size: var(--font-size--medium);
    font-size: 1.4rem;
  }

  &__link {
    color: #e6e6e6;

    &:hover {
      color: #87cefa;
    }
  }
}
