// $main-color: black;
// $sub-color: #f5f5f5;

// @mixin shrinkLabel {
//   top: -14px;
//   font-size: 12px;
//   color: $main-color;
// }

// .form {
//   display: flex;
//   flex-flow: nowrap column;
//   justify-content: center;
//   align-items: stretch;
//   padding: 0 2vmin;

//   min-width: 30rem;

//   @media screen and (min-width: $breakpoint-sm ){
//     min-width: 50rem;
    
//   }


//   &__group {
//     padding: 1rem 0;
//     position: relative;

    
//   & > * {
//     flex: 1;
//   }
//   }

//   &__label {
//   }

//   &__input {
//     width: 100%;
//     background: none;
//     color: $sub-color;
//     font-size: 18px;
//     padding: 10px 10px 10px 5px;
//     display: block;
//     width: 100%;
//     border: none;
//     border-radius: 0;
//     border-bottom: 1px solid #fafafa;
//     margin: 1.2rem 0;

//     &:focus {
//       border: 1px solid $yellow-brand;
//       outline: 0;
//     }
//   }

    
//     &__btn {
//       align-self: start;
//       margin-top: 3rem;
//     }
// }

.content {
  display: flex;
  flex-direction: column;

}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 550px;
	width: calc(100% - 2em);
	vertical-align: top;
  flex: 1;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	// width: 80%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #fcff3d;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}



/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #d4d4d4;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid red;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(288, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	animation: anime-form-line 0.3s forwards;
}







