.header {
  background-color: #0065b7;
  grid-column: full-start / full-end;

  transition: background-color 0.3s ease-in-out;

  display: grid;
  grid-template-columns: [center-start] repeat(4,[col-start] minmax(min-content, 28rem) [col-end]) [center-end];
  justify-content: center;

  &--dark {
    // background-color: #222;
    background-color: #191d32;
    position: sticky;
    z-index: $zindex-sticky;
    top: 0;
    left: 0;
    right: 0;
  }
}

// Brand logo
.logo {
  grid-column: col-start 1 / col-end 2;

  &__brand {
    width: 10rem;
    height: 6rem;
    z-index: $zindex-positioning;
  }
}

// Mobile icon
.menu-icon {
  grid-column: col-start 8 / col-end 8;
  margin-left: auto;
  display: flex;
  align-items: center;

  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }

  &__text {
    color: $white;
    cursor: pointer;
    font-size: 1.25rem;

    //   &:hover {
    //   color: darken($white, 20);
    // }
  }

  &__box {
    fill: $white;
    width: 4rem;
    height: 4rem;
    transition: fill 0.3s ease-in;

    &:hover {
      fill: darken($white, 20);
    }
  }
}

// Navigation
.menu {
  grid-column: col-start 3 / col-end 4;
  line-height: 1;
  margin: 0 auto;
  display: none;

  @media screen and (min-width: $breakpoint-md) {
    display: block;
  }

  &--is-visible {
    display: block;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  &__link {
    font-size: 0.85em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}

.menu--underline .menu__link {
  position: relative;
  margin: 0 1em;
  padding-right: 0;
  padding-left: 0;
  color: #d1d1d1;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.menu--underline .menu__item--current .menu__link,
.menu--underline .menu__item--current .menu__link:hover,
.menu--underline .menu__item--current .menu__link:focus {
  color: #c390ce;
}

.menu--underline .menu__item--current .menu__link::after,
.menu--underline .menu__item--current .menu__link::before {
  transform: scale3d(1, 1, 1);
}

.menu--underline .menu__item--current .menu__link::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--underline .menu__link:hover,
.menu--underline .menu__link:focus {
  color: #fff;
}

.menu--underline .menu__link:hover::before,
.menu--underline .menu__link:focus::before {
  transform: scale3d(1, 1, 1);
  transition-delay: 0s;
}

.menu--underline .menu__link::before,
.menu--underline .menu__link::after {
  content: "";
  position: absolute;
  bottom: -1.35rem;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  transform-origin: center; // line direction
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--underline .menu__link::before {
  background: #fff;
  transition-delay: 0.4s;
}

.menu--underline .menu__link::after {
  background: #c390ce;
}
