.header {
  // background-color: #0065b7;
  background-color: #007bd9;
  grid-column: full-start / full-end;
  // background-color: transparent;

  transition: all 0.3s ease-out;

  position: sticky;
  z-index: $zindex-sticky;
  top: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns:
    [center-start] repeat(4, [col-start] minmax(min-content, 28rem) [col-end])
    [center-end];
  justify-content: center;

  &--dark {
    // background-color: #222;
    background-color: #191d32;
    opacity: 1;
  }

  // &--off-set-page {}
}

// Brand logo
.logo {
  grid-column: col-start 1 / col-end 2;

  &__brand {
    width: 10rem;
    height: 6rem;
    z-index: $zindex-positioning;
  }
}

// Mobile icon
.menu-icon {
  grid-column: col-start 8 / col-end 8;
  margin-left: auto;
  display: flex;
  align-items: center;

  @media screen and (min-width: $breakpoint-sm) {
    display: none;
  }

  &__text {
    color: $white;
    cursor: pointer;
    font-size: 1.25rem;

    //   &:hover {
    //   color: darken($white, 20);
    // }
  }

  &__box {
    fill: $white;
    width: 4rem;
    height: 4rem;
    transition: fill 0.3s ease-in;

    &:hover {
      fill: darken($white, 20);
    }
  }
}

// Navigation
.menu {
  grid-column: col-start 3 / col-end 4;
  line-height: 1;
  margin: 0 auto;
  display: none;
  position: relative;

  @media screen and (min-width: $breakpoint-sm) {
    display: block;
  }

  &--is-visible {
    display: block;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      background-color: #191d32;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $zindex-modal;
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s;
    }
  }

  &__item {
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  &__link {
    font-size: 0.85em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #e3e3e3;

    &::after {
      content: "";
      position: relative;
      top: 2.35rem;
      bottom: 0;
      left: 50%;
      display: block;
      height: 0.3rem;
      background: #fff;
      // background: linear-gradient(to left, #ffd767, #0bd8e7 );
      width: 0;
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);

      @media screen and (max-width: $breakpoint-sm) {
        display: none;
      }
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }

    &:hover,
    &:focus {
      color: #fff;
    }

    &.is-current-link {
      color: $orange-brand;
    }

    &.is-current-link::after {
      content: "";
      position: relative;
      top: 2.35rem;
      left: 50%;
      bottom: 0;

      display: block;
      height: 0.3rem;
      background-color: $orange-brand;
      width: 0;
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      @media screen and (max-width: $breakpoint-sm) {
        display: none;
      }
    }

    &.is-current-link::after {
      width: 100%;
      left: 0;
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .menu-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
}
