.header {
  // background-color: $blue;
  background-color: #0065b7;
  grid-column: full-start / full-end;    
  position: sticky; 
  z-index: $zindex-sticky;
  top: 0; 
  left:0;
  right:0;

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.logo {
  grid-column: col-start 1 / col-end 1;

  z-index: $zindex-positioning;
  width: 10rem;
  height: 10rem;
}

.menu {
  grid-column: col-start 5 / col-end 8;

  &__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;

    // margin: 0;
	  // padding: 0;

  }

  &__item {
    display: inline-block;
    margin-bottom: 0px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
    
    & > * {
      font-size: 1.2rem;
      padding: 2.25rem 1rem;
    }
  }

  &__link {
    color: $white;
    font-weight: 300;

    &:hover,
    &:focus {
      background-color: $orange-brand;
      color: $grey--lighter;
    };
  }

}


