.large-hero {
  position: relative;
  z-index: 1;

  grid-column: full-start / full-end;

  background: url("/assets/images/hero/hero--large.webp") no-repeat bottom 90%
    center/cover;
  background-attachment: fixed;
  color: white;

  display: grid;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 12rem) [col-end]
  );
  justify-content: center;
  align-items: center;

  &__content {
    grid-column: 1 / -1;
    padding: 0 5rem;

    @media screen and (min-width: $breakpoint-sm) {
      grid-column: col-start 1 / col-end 5;
    }
  }

  &__title {
    color: lighten($orange-brand, 5);
    margin: 0.5rem 0 4rem;
    font-size: 3vmax;
    line-height: 1;
    text-transform: uppercase;

    font-weight: 700;
    letter-spacing: 0.126em;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 3.5vmin;
    }
  }

  &__subtitle {
    font-family: $font-display;
    color: $grey--lighter;
    font-style: italic;
  }

  &__description {
    margin-bottom: 2.5rem;
    font-size: var(--font-size--small);
  }

  &__club {
    // background: url(/assets/images/hero-3.jpg) bottom 65px center/cover;
    background: linear-gradient(-45deg, #00a2ff 30%, #c300ff, #ffab3d);
    height: min-content;
    grid-column: col-start 6 / col-end 8;
    padding: 5vmin;
    //fallback
    color: $white;
    background-clip: text;
    color: transparent;

    h1 {
      font-size: 10rem;
      line-height: 0.9em;
      letter-spacing: 5.08px;
      font-weight: 700;
    }
  }
}
