.large-hero {
  grid-column: full-start / full-end;
  
  background: url('/assets/images/hero-3.jpg') no-repeat bottom 90% center/cover;
  background-attachment: fixed;
  color: white;

  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
  justify-content: center;
  align-items: center;

  &__content {
    // Mobile view
    grid-column: 1 / -1;
    padding: 0 2rem;

    @media screen and (min-width: $breakpoint-sm) {
     grid-column: col-start 1 / col-end 5;
    }
  }

  &__title {
    color: lighten($orange-brand, 5);
    line-height: 1;
    margin: .5rem 0 4rem;
    font-size: 3rem;

    @media screen and (min-width: $breakpoint-sm) {
      font-size: 5vmin;
    }
  }

  &__subtitle {
    font-family: $font-display;
    color: $grey--lighter;
    font-style: italic;
  }

  &__description {
    margin-bottom: 2rem;
    font-size: var(--font-size--small);
  }
}
