.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
}

.site-container {
  display: grid;
  grid-template-rows:  6rem 75vh 20vh repeat(2, min-content) 40vw repeat(7, min-content);
  grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];   

  & > * { 
    padding: 2rem;
    font-size: 3rem;
  }
}


