/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.4s;
}

/* blur image in after load */
.blur-up {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: filter 0.4s, -webkit-filter 0.4s;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
