.preloader {
  align-items: center;
  // background: rgb(34, 34, 34);
  background: #1c216b;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s linear;
  transform: opacity 0.3s linear;

  &.loaded {
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__brand {
    height: 100px;
    width: auto;
    margin-bottom: 5px;

    transform: translateX(-5px);
    animation: blink 1s ease infinite;
    transition: animation 0.3s ease;
  }

  &__text {
    color: hsl(210, 100%, 98%);
    font-size: 2.25rem;
    font-weight: bold;
    font-family: var(--font-primary);
    animation: blink 1s ease infinite;
    transition: animation 0.3s ease;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
    filter: drop-shadow(0 0 3px white);
  }
  30% {
    opacity: 1;
    filter: drop-shadow(0 0 5px white);
  }
  100% {
    opacity: 0.3;
    filter: drop-shadow(0 0 3px white);
  }
}
