.show {
  grid-column: full-start / full-end;
  overflow: hidden;
  background: linear-gradient(
      to right,
      rgba(#1c3450, 0.3),
      rgba(#020202, 0.5),
      rgba(rgb(92, 14, 14), 0.5)
    ),
    url(/assets/images/cta--bg-2.webp) no-repeat center center/cover;

  display: grid;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 10rem) [col-end]
  );

  grid-auto-rows: auto;
  justify-content: center;
  grid-column-gap: 6rem;
  grid-row-gap: 3rem;

  padding-top: 12rem;

  @media screen and (max-width: $breakpoint-sm) {
    padding-top: 0;
  }

  &__photo {
    grid-column: 1 / -1;
    display: block;
    max-width: 100%;
    border-radius: 10px;

    // background: url(/assets/images/cta--photo.webp) no-repeat center
    //   center/cover;

    height: 32rem;
    padding-top: -12rem;

    @media screen and (min-width: $breakpoint-sm) {
      grid-column: col-start 2 / col-end 4;
      height: 52rem;
    }

    @media screen and (min-width: $breakpoint-lg) {
      grid-column: col-start 1 / col-end 4;
      height: 42rem;
    }
  }

  &__content {
    grid-column: col-start 1 / col-end 8;
    padding: 0 7vmax;
    padding: 4rem 8vmax 0;
    // order: -1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $breakpoint-sm) {
      grid-column: col-start 5 / col-end 8;
      padding: 0 2vw;
    }

    @media screen and (min-width: $breakpoint-md) {
      grid-column: col-start 5 / col-end 8;
    }
  }

  &__counter {
    grid-column: col-start 2 / col-end 7;

    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @media screen and (min-width: $breakpoint-sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 4rem;
    }

    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(4, 1fr);
      justify-items: space-between;
    }
  }
}
