.showcase {
  // background-color: $blue-brand;
  grid-column: center-start / center-end;
    color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
