.icon--anchor-dims {
	width: 36px;
	height: 36px;
}

.icon--anchor-1-dims {
	width: 36px;
	height: 36px;
}

.icon--anchor-2-dims {
	width: 36px;
	height: 36px;
}

.icon--anchor-3-dims {
	width: 36px;
	height: 36px;
}

.icon--anchor-4-dims {
	width: 36px;
	height: 36px;
}

.icon--compass-dims {
	width: 36px;
	height: 36px;
}

.icon--diving-goggles-dims {
	width: 36px;
	height: 36px;
}

.icon--email-dims {
	width: 36px;
	height: 36px;
}

.icon--hotel-dims {
	width: 36px;
	height: 36px;
}

.icon--lifebuoy-dims {
	width: 36px;
	height: 36px;
}

.icon--mail-dims {
	width: 36px;
	height: 36px;
}

.icon--o2-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-1-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-2-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-3-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-4-dims {
	width: 36px;
	height: 36px;
}

.icon--oxygen-tube-5-dims {
	width: 36px;
	height: 36px;
}

.icon--sailing-boat-water-dims {
	width: 36px;
	height: 36px;
}

.icon--settings-dims {
	width: 36px;
	height: 36px;
}

.icon--shield-dims {
	width: 36px;
	height: 36px;
}

.icon--smartphone-dims {
	width: 36px;
	height: 36px;
}

.icon--user-add-outline-dims {
	width: 36px;
	height: 36px;
}

.icon--world-dims {
	width: 36px;
	height: 36px;
}

