.icon--anchor-dims {
	width: 36px;
	height: 36px;
}

.icon--compass2-dims {
	width: 36px;
	height: 36px;
}

.icon--diving-goggles-dims {
	width: 36px;
	height: 36px;
}

.icon--lifebuoy-dims {
	width: 36px;
	height: 36px;
}

.icon--sailing-boat-water-dims {
	width: 36px;
	height: 36px;
}

.icon--settings-dims {
	width: 36px;
	height: 36px;
}

.icon--shield-dims {
	width: 36px;
	height: 36px;
}

.icon--single_bed-dims {
	width: 36px;
	height: 36px;
}

