

.team {

  &__members {
    grid-column: full-start / col-end 2;

    background: url(/assets/images/team-5.jpg) no-repeat center center/cover ;
    background-color: $grey--dark;
    
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  &__cta {
    grid-column: full-start / full-end;
    height: 45vh;

    background: linear-gradient(
      to right,
      rgba(#5d75a3, .7),
      rgba(#020202, .7),
      rgba(#000, .5)),  
    url("/assets/images/cta-5.jpg") left 30% bottom 60%/cover no-repeat,  
    #020202; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    p {
      width: 60rem;
      color: $grey--lighter;
      font-size: var(--font-size-small);
      text-align: center;
      margin: 1rem 0 4rem 0;
    }
}

  &__content {
    grid-column: col-start 3 / full-end;
    
    // background-color: $blue-brand;
    background-color: #004962;
    color: $white;

    padding: 3rem 8vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;  
  }

  &__text {
    margin-bottom: 3rem;
  }

}
