.team {
  &__instructors {
    background-color: $grey--dark;
    grid-column: 1 / -1;

    @media screen and(min-width: $breakpoint-md) {
      // grid-column: full-start / col-end 4;
      grid-column: col-start 4 / full-end;
    }
  }

  &__instructor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    background-color: #105da9;

    @media screen and(max-width: 500px) {
      grid-auto-rows: auto;
    }
  }

  &__instructor-img {
    width: 100%;
    height: 320px;

    @media screen and(max-width: $breakpoint-md) {
      height: auto;
    }
  }

  &__instructor-img--order-sm {
    @media screen and(max-width: $breakpoint-md) {
      order: -1;
    }
  }

  &__instructor-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2vw;

    transition: all ease-in-out;

    &--blue-bg {
      background-color: #114e6f;
    }

    &--black-bg {
      background-color: rgb(0, 154, 214);
    }
  }

  &__instructor-avatar {
    width: 8rem;
    height: 8rem;
    margin-right: 3rem;
    border-radius: 50%; // fallback

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: translateY(0px);
    animation: float 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }

  &__instructor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(218, 218, 218);

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__instructor-details--order {
    text-align: right;
    margin-right: 3rem;
    order: -1;
    color: rgb(218, 218, 218);
  }

  &__instructor-hours {
    margin: 0;
  }

  &__content {
    grid-column: 1 / -1;
    order: 0;

    position: relative;
    z-index: 1;

    @media screen and(min-width: $breakpoint-md) {
      // grid-column: col-start 5 / full-end;
      grid-column: full-start / col-end 3;
      padding: 6rem 8vw;
    }

    // background-color: #004962; // bluebrand
    background-color: rgb(11, 78, 80); // bluebrand
    color: $white;

    padding: 8vmax 5vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      margin-bottom: 3rem;
    }
  }
}
