// Testimonial slider
.testimonals {
  // background-color: $grey--dark;
  background-color: #191d32;
  grid-column: full-start / full-end;
  padding: 10rem 2vw;

  // background: linear-gradient(
  //    to right,
  //     rgba(#1c3450, .7),
  //     rgba(#020202, .7),
  //     rgba(#000, .5)),  
  // url(/assets/images/testimonial-bg.jpg) no-repeat center bottom/cover;
}

.testimonial {

    margin: 0 auto;
    max-width: 50rem;

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    // border: 5px solid $grey--lighter;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 1.5rem rgba($white, .3);
  }

  &__name {
    font-size: 2rem;
    color: $orange-brand;
    font-weight: 600;
  }

  &__text {
    text-align: center;
  }
}
