.testimonals {

  &__video {
    background-color: $blue--light;
  }

  &__content {
    background-color: $yellow-brand;
  }

  &__counter {
    background-color: $blue--lighter;
  }

  &__slider {
    background-color: $cyan-brand;
  }
}
