/* typography */

%heading {
  font-family: var(--font-display);
  font-size: var(--font-size-heading);
  color: var(--heading-color);
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
  --font-size-heading: 3rem;

  &--light {
    // text-align: center;
    font-weight: 600;
    line-height: 1;
    width: 60%;
    margin-bottom: 2rem;
    // --heading-color: #{$white};
    --heading-color: #{$grey--lighter};
  }

  &--dark {
    text-align: left;
    font-weight: 600;
    line-height: 1;
    width: 60%;
    margin-bottom: 2rem;
    --heading-color: #{$yellow-brand};
  }
}

.heading-3 {
  @extend %heading;

  &--light {
    --font-size-heading: 1.6rem;
    --heading-color: #{$yellow-brand};
  }

  &--large {
    text-align: center;
    --font-size-heading: 2rem;
  }
}

.heading-4 {
  @extend %heading;
  font-variant: small-caps;
  --font-size-heading: 1.6rem;

  &--light {
    letter-spacing: 1px;
    --heading-color: #{$grey--light};
  }

  &--white {
    --heading-color: #{$grey--lighter};
    --font-size-heading: 1.4rem;
  }

  &--dark {
    --heading-color: #{$grey--dark};
  }
}
