/* typography */

%heading {
  color: var(--heading-color);
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  @extend %heading
}

.heading-2 {
  @extend %heading
}

.heading-3 {
  @extend %heading
}

.heading-4 {
  @extend %heading;
  font-size: var(--font-size-medium);
  font-variant: small-caps;

  &--light {
    --heading-color: #{$grey--light};
  }

  &--dark {
    --heading-color: #{$grey--dark};
  }
}

