/* typography vars */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700|Open+Sans:300,400,600,700&display=swap");
/* Basic config */
:root {
  --orange-brand: #ff9e42;
  --yellow-brand: #ffc02e;
  --cyan-brand: #01a2a2;
  --blue-brand: #003270;
  --background-color: #fff;
  --text-color: #707070;
  --heading-color: #202020;
  --text-line-height: 1.6;
  --font-primary: Open Sans, sans-serif;
  --font-display: Nunito Sans, sans-serif;
  --font-size--small: 1.3rem;
  --font-size--medium: 1.5rem;
  --font-size--large: 1.8rem;
  --font-size--heading: 5vmin;
  --shadow--dark: 0 2rem 6rem rgba(#202020, .4);
  --shadow--light: 0 2rem 6rem rgb(#fff, .3);
  --font-weight--light: 300;
  --font-weight--noramal: 400;
  --font-weight--semi-bold: 600;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (min-width: 75em) {
  html {
    font-size: 67.5%;
  }
}

body {
  font-size: var(--font-size--small);
  line-height: var(--text-line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  font-weight: var(--font-weight--light);
}

.site-container {
  position: relative;
  display: grid;
  grid-template-rows: 6rem calc(100vh - 6rem) repeat(15, -webkit-min-content);
  grid-template-rows: 6rem calc(100vh - 6rem) repeat(15, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, -webkit-max-content) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, max-content) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
}

@media screen and (min-width: 37.5em) {
  .site-container {
    display: grid;
    grid-template-rows: 6rem 80vh repeat(15, -webkit-min-content);
    grid-template-rows: 6rem 80vh repeat(15, min-content);
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  }
}

@media screen and (min-width: 75em) {
  .site-container {
    display: grid;
    grid-template-rows: 6rem calc(85vh - 6rem) 15vh repeat(15, -webkit-min-content);
    grid-template-rows: 6rem calc(85vh - 6rem) 15vh repeat(15, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

a {
  color: #000;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus, a:active, a:visited, a:link {
  text-decoration: none;
  outline: 0;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #ccc;
}

p {
  margin: 1.2rem 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding-left: 0;
  margin-top: 0;
}

li {
  margin-bottom: 1rem;
}

img,
video {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0 auto;
}

figure img {
  display: block;
  margin: 0 auto;
}

caption,
figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}

textarea:focus,
select:focus {
  border: 1px solid #9534f0;
  outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  outline: 0;
  border: 1px solid #604ec957;
}

textarea {
  appearance: none;
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.6);
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

.mb-20 {
  margin-bottom: 2rem;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
}

/* typography */
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: var(--font-display);
  font-size: var(--font-size--heading);
  color: var(--heading-color);
  font-weight: 400;
}

.heading-2 {
  --font-size--heading: 3rem;
}

.heading-2--light {
  font-weight: 600;
  line-height: 1;
  width: 80%;
  margin-bottom: 2rem;
  --heading-color: #FAFAFA;
}

.heading-2--dark {
  text-align: left;
  font-weight: 600;
  line-height: 1;
  width: 60%;
  margin-bottom: 2rem;
  --heading-color: #ffc02e;
}

@media screen and (max-width: 37.5em) {
  .heading-2--small {
    --font-size--heading: 2.5rem;
  }
}

.heading-2--larger {
  --font-size--heading: 5vmin;
  font-weight: 600;
}

@media screen and (max-width: 37.5em) {
  .heading-2 {
    --font-size--heading: 3rem;
  }
}

.heading-3--light {
  --font-size--heading: 1.6rem;
  --heading-color: #ffc02e;
}

.heading-3--large {
  text-align: center;
  --font-size--heading: 2rem;
}

.heading-4 {
  font-variant: small-caps;
  --font-size--heading: 1.6rem;
}

.heading-4--light {
  letter-spacing: 1px;
  --heading-color: #707070;
}

.heading-4--white {
  --heading-color: #FAFAFA;
  --font-size--heading: 1.4rem;
}

.heading-4--dark {
  --heading-color: #171717;
}

.page-section {
  margin: 6rem 0;
}

@media screen and (min-width: 65em) {
  .page-section {
    margin: 10rem 0;
  }
}

.btn {
  display: block;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--orange {
  background-color: var(--orange-brand);
}

.btn--orange:hover {
  background-color: #ffab5c;
}

.btn--inverse {
  border: 2px solid var(--orange-brand);
  padding: 1.5rem 4rem;
}

.btn--inverse:hover {
  background-color: #ffab5c;
}

.btn--large {
  padding: 1.8rem 3rem;
  font-size: 1.2rem;
}

.btn--small {
  padding: 1.5rem 2rem;
  font-size: 1rem;
}

@media screen and (max-width: 37.5em) {
  .btn--sm-none {
    display: none;
  }
}

.header {
  background-color: #007bd9;
  grid-column: full-start / full-end;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1020;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: [center-start] repeat(4, [col-start] minmax(-webkit-min-content, 28rem) [col-end]) [center-end];
  grid-template-columns: [center-start] repeat(4, [col-start] minmax(min-content, 28rem) [col-end]) [center-end];
  -webkit-box-pack: center;
          justify-content: center;
}

.header--dark {
  background-color: #191d32;
}

.logo {
  grid-column: col-start 1 / col-end 2;
}

.logo__brand {
  width: 10rem;
  height: 6rem;
  z-index: 990;
}

.menu-icon {
  grid-column: col-start 8 / col-end 8;
  margin-left: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

@media screen and (min-width: 65em) {
  .menu-icon {
    display: none;
  }
}

.menu-icon__text {
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
}

.menu-icon__box {
  fill: #fff;
  width: 4rem;
  height: 4rem;
  -webkit-transition: fill 0.3s ease-in;
  transition: fill 0.3s ease-in;
}

.menu-icon__box:hover {
  fill: #cccccc;
}

.menu {
  grid-column: col-start 3 / col-end 4;
  line-height: 1;
  margin: 0 auto;
  display: none;
}

@media screen and (min-width: 65em) {
  .menu {
    display: block;
  }
}

.menu--is-visible {
  display: block;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  height: 6rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin-bottom: 0px;
}

.menu__item:not(:last-child) {
  margin-right: 0.5em;
}

.menu__link {
  font-size: 0.85em;
  font-weight: bold;
  display: block;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #e4e4e4;
}

.menu__link::after {
  content: "";
  position: relative;
  top: 2.35rem;
  bottom: 0;
  left: 50%;
  display: block;
  height: 0.3rem;
  background: #ffd767;
  width: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu__link:hover::after {
  width: 100%;
  left: 0;
}

.menu__link:hover {
  color: #ffd767;
}

.menu__link.is-current-link {
  color: #ffd767;
}

.menu__link.is-current-link::after {
  content: "";
  position: relative;
  top: 2.35rem;
  left: 50%;
  bottom: 0;
  display: block;
  height: 0.3rem;
  background-color: #ffd767;
  width: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu__link.is-current-link::after {
  width: 100%;
  left: 0;
}

.large-hero {
  grid-column: full-start / full-end;
  background: url("/assets/images/hero-3.jpg") no-repeat bottom 90% center/cover;
  background-attachment: fixed;
  color: white;
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]);
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.large-hero__content {
  grid-column: 1 / -1;
  padding: 0 2rem;
}

@media screen and (min-width: 37.5em) {
  .large-hero__content {
    grid-column: col-start 1 / col-end 5;
  }
}

.large-hero__title {
  color: #ffab5c;
  margin: 0.5rem 0 4rem;
  font-size: 3vmax;
  line-height: 1;
  letter-spacing: 0.061em;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 37.5em) {
  .large-hero__title {
    font-size: 4vmin;
  }
}

.large-hero__subtitle {
  font-family: "Nunito Sans", sans-serif;
  color: #FAFAFA;
  font-style: italic;
}

.large-hero__description {
  margin-bottom: 2rem;
  font-size: var(--font-size--small);
}

.info {
  grid-column: full-start / full-end;
  background-color: #00244e;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-content: center;
}

@media (min-width: 37.5em) and (max-width: 65em) {
  .info {
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    align-content: center;
    justify-items: center;
  }
}

@media screen and (min-width: 75em) {
  .info {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
  }
}

.info__item {
  color: #FAFAFA;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.info__icon {
  fill: #bbbbbb;
  width: 6rem;
  height: 6rem;
}

.info__text {
  margin-top: .5rem;
  margin-bottom: 0;
  color: #ffc02e;
}

.features {
  background-color: #fff;
  grid-column: center-start / center-end;
  -webkit-box-align: start;
          align-items: start;
  display: grid;
  grid-template-columns: repeat(1, minamax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(1, minamax(min-content, 1fr));
  grid-gap: 1rem;
}

@media screen and (min-width: 37.5em) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 75em) {
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
  }
}

.feature {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: .3rem;
  padding: .5rem;
}

@media (min-width: 37.5em) {
  .feature {
    padding: 2rem;
  }
}

.feature__icon {
  fill: var(--orange-brand);
  width: 8rem;
  height: 8rem;
  grid-row: 1 / span 2;
  align-self: start;
  -webkit-transform: translateY(-2.7rem);
          transform: translateY(-2.7rem);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.feature__icon:hover {
  fill: var(--yellow-brand);
  -webkit-transform: translateY(-3.3rem) scale(1.05);
          transform: translateY(-3.3rem) scale(1.05);
}

.feature__text {
  font-size: var(--font-size-small);
}

.cta-equipment {
  grid-column: full-start / full-end;
  height: 45vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(93, 117, 163, 0.7)), color-stop(rgba(2, 2, 2, 0.7)), to(rgba(0, 0, 0, 0.5))), url("/assets/images/cta-5.jpg") left 30% bottom 60%/cover no-repeat, #020202;
  background: linear-gradient(to right, rgba(93, 117, 163, 0.7), rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.5)), url("/assets/images/cta-5.jpg") left 30% bottom 60%/cover no-repeat, #020202;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

.cta-equipment p {
  width: 60rem;
  color: #FAFAFA;
  font-size: var(--font-size-small);
  text-align: center;
  margin: 1rem 0 4rem 0;
}

.cta-ship {
  grid-column: full-start / full-end;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 75em) {
  .cta-ship {
    height: 50vh;
    background: -webkit-gradient(linear, left top, right top, from(rgba(152, 163, 93, 0.1)), color-stop(rgba(2, 2, 2, 0.2)), to(rgba(226, 26, 26, 0.3))), url("/assets/images/gal-1.jpg") center center/cover no-repeat, #020202;
    background: linear-gradient(to right, rgba(152, 163, 93, 0.1), rgba(2, 2, 2, 0.2), rgba(226, 26, 26, 0.3)), url("/assets/images/gal-1.jpg") center center/cover no-repeat, #020202;
    background-attachment: fixed;
  }
}

.cta-ship__backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cta-ship__img {
  width: 100%;
  height: auto;
}

.cta-ship__text-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25%;
  width: 100%;
  padding-top: 4rem 2vw 0;
}

.cta-ship__paragraph {
  width: 60%;
  color: #FAFAFA;
  font-size: var(--font-size-medium);
  text-align: left;
  margin: 1rem 0 4rem 0;
}

.team__instructors {
  background-color: #171717;
  grid-column: 1 / -1;
}

@media screen and (min-width: 65em) {
  .team__instructors {
    grid-column: col-start 4 / full-end;
  }
}

.team__instructor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background-color: #105DA9;
}

@media screen and (max-width: 500px) {
  .team__instructor {
    grid-auto-rows: auto;
  }
}

.team__instructor-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .team__instructor-img--order-sm {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
}

.team__instructor-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 5rem 2vw;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.team__instructor-list--blue-bg {
  background-color: #114E6F;
}

.team__instructor-list--black-bg {
  background-color: #009ad6;
}

.team__instructor-avatar {
  width: 8rem;
  height: 8rem;
  margin-right: 3rem;
  border-radius: 50%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: float 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
          animation: float 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.team__instructor-details {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

.team__instructor-details:not(:last-child) {
  margin-right: 2rem;
}

.team__instructor-details--order {
  text-align: right;
  margin-right: 3rem;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.team__instructor-hours {
  margin: 0;
}

.team__content {
  grid-column: 1 / -1;
  -webkit-box-ordinal-group: 1;
          order: 0;
  background-color: #0b4e50;
  color: #fff;
  padding: 8vmax 5vmin;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 65em) {
  .team__content {
    grid-column: full-start / col-end 3;
    padding: 6rem 8vw;
  }
}

.team__content p {
  margin-bottom: 3rem;
}

.tours {
  background-color: #fff;
  grid-column: center-start / center-end;
}

@media screen and (min-width: 65em) {
  .tours {
    display: grid;
    grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  }
}

.tours__activites {
  grid-column: col-start 1 / col-end 8;
}

.tours__items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -webkit-box-pack: center;
          justify-content: center;
  grid-gap: 6rem;
  padding-bottom: 6rem;
}

@media only screen and (max-width: 65em) {
  .tours__items {
    margin: 6rem 0;
  }
}

.tours__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.tours__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.tours__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #ff9e42;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tours__item:hover::after {
  width: 100%;
}

.tours__img {
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.tours__like {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  fill: #ffc02e;
  height: 5rem;
  width: 5rem;
  z-index: 10;
  justify-self: end;
}

.tours__icon {
  fill: #ff9e42;
  height: 5rem;
  width: 5rem;
  -webkit-box-pack: baseline;
          justify-content: baseline;
}

.tours__description {
  grid-column: 1 / -1;
  padding: 1rem 2rem 0;
}

.tours__name {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #287899;
  color: #fff;
  font-weight: 400;
  width: 80%;
  -webkit-transform: translateY(50%) skewX(-20deg);
          transform: translateY(50%) skewX(-20deg);
}

.tours__location, .tours__hours, .tours__people {
  font-size: 1.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.tours__location p, .tours__hours p, .tours__people p {
  margin: 0;
}

.tours__btn {
  grid-column: 1 / -1;
  justify-self: center;
  width: 60%;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.tours__content {
  color: #273331;
  padding: 2rem 2vmin 4rem;
  grid-column: col-start 2 / col-end 7;
  display: grid;
  justify-items: center;
}

.tours__content p {
  color: currentColor;
  margin-bottom: 3rem;
}

.show {
  grid-column: full-start / full-end;
  background: -webkit-gradient(linear, left top, right top, from(rgba(28, 52, 80, 0.3)), color-stop(rgba(2, 2, 2, 0.5)), to(rgba(92, 14, 14, 0.5))), url(/assets/images/hero-2.jpg) no-repeat center center/cover;
  background: linear-gradient(to right, rgba(28, 52, 80, 0.3), rgba(2, 2, 2, 0.5), rgba(92, 14, 14, 0.5)), url(/assets/images/hero-2.jpg) no-repeat center center/cover;
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]);
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 14rem) [col-end]);
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
          justify-content: center;
  grid-column-gap: 6rem;
  grid-row-gap: 3rem;
  padding-top: 12rem;
}

@media screen and (max-width: 37.5em) {
  .show {
    padding-top: 0;
  }
}

.show__video {
  grid-column: 1 / -1;
  background: url(/assets/images/cta-1.jpg) no-repeat center center/cover;
  height: 32rem;
  padding-top: -12rem;
}

@media screen and (min-width: 37.5em) {
  .show__video {
    grid-column: col-start 2 / col-end 4;
    height: 52rem;
  }
}

@media screen and (min-width: 75em) {
  .show__video {
    grid-column: col-start 1 / col-end 4;
    height: 42rem;
  }
}

.show__content {
  grid-column: col-start 1 / col-end 8;
  padding: 0 7vmax;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

@media screen and (min-width: 37.5em) {
  .show__content {
    grid-column: col-start 5 / col-end 8;
    padding: 0 2vw;
  }
}

@media screen and (min-width: 65em) {
  .show__content {
    grid-column: col-start 5 / col-end 8;
  }
}

.show__counter {
  grid-column: col-start 1 / col-end 8;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 3rem;
}

@media screen and (min-width: 37.5em) {
  .show__counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 65em) {
  .show__counter {
    grid-template-columns: repeat(4, 1fr);
    justify-items: space-between;
  }
}

.counter__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.counter__number {
  font-size: 6rem;
  color: #ff9e42;
  font-weight: 600;
}

.counter__icon {
  fill: #ffc02e;
  width: 8rem;
  height: 8rem;
}

.testimonals {
  background-color: #FAFAFA;
  grid-column: full-start / full-end;
  padding: 10rem 2vw;
}

.testimonial {
  display: grid;
  -webkit-box-pack: center;
          justify-content: center;
}

.testimonial__user {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.testimonial__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 3rem;
  box-shadow: 5px 5px 1.5rem rgba(255, 255, 255, 0.3);
}

.testimonial__name {
  font-size: 2rem;
  color: #ff9e42;
  font-weight: 600;
}

.testimonial__text {
  text-align: center;
  max-width: 50rem;
}

.pricing {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  -webkit-box-pack: center;
          justify-content: center;
  grid-gap: 6rem;
}

.pricing__table {
  background-color: #fff;
  text-align: center;
  padding-top: 6rem;
  border: .1px solid #d9bf77;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  grid-gap: 1rem 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__table--inverse {
  color: #FAFAFA;
  background-color: #114e6f;
}

.pricing__table:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.pricing__table::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #ff9e42;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing__table:hover::after {
  width: 100%;
}

.pricing__heading {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.pricing__heading--bolder {
  font-weight: 700;
  font-size: 1.3rem;
}

.pricing__price {
  font-size: 4rem;
  font-weight: 500;
  color: #d9bf77;
}

.pricing__number {
  font-size: 6rem;
}

.pricing__pass {
  margin-bottom: 1rem;
  color: #999;
}

.pricing__items {
  font-size: var(--font-size--medium);
  text-transform: capitalize;
}

.gallery {
  background-color: #fff;
  grid-column: full-start / end-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 6vw);
  grid-gap: 2px;
  padding: 2px;
}

@media screen and (min-width: 37.5em) {
  .gallery {
    grid-gap: .5rem;
    padding: .5rem;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / span 1;
}

.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / span 2;
}

.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  grid-row: 4 / span 1;
  grid-column: 5 / span 1;
}

.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / span 1;
}

.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / span 1;
}

.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}

.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / span 1;
}

.gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}

.gallery__item--14 {
  grid-row: 6 / span 3;
  grid-column: 8 / span 1;
}

.gallery__item--15 {
  grid-row: 9 / span 2;
  grid-column: 7 / span 2;
}

.gallery__item--16 {
  grid-row: 8 / span 3;
  grid-column: 1 / span 1;
}

.gallery__item--17 {
  grid-row: 8 / span 2;
  grid-column: 2 / span 2;
}

.gallery__item--18 {
  grid-row: 8 / span 1;
  grid-column: 6 / span 2;
}

.gallery__item--19 {
  grid-row: 8 / span 3;
  grid-column: 4 / span 2;
}

.gallery__item--20 {
  grid-row: 9 / span 2;
  grid-column: 6 / span 1;
}

.gallery__item--21 {
  grid-row: 10 / span 1;
  grid-column: 2 / span 2;
}

.map {
  grid-column: full-start / full-end;
  position: relative;
}

.map__location {
  display: block;
  width: 100%;
  min-height: 40vh;
  overflow: hidden;
  padding: 0 .1rem .1rem .1rem;
}

@media screen and (min-width: 37.5em) {
  .map__location {
    padding: 0 .5rem .5rem .5rem;
  }
}

.map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202020;
  opacity: .1;
  z-index: 10;
}

.map__contact {
  display: block;
  width: 40rem;
  height: 30vh;
  background-color: #2B6EB1;
  opacity: .8;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  color: #fff;
  padding: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
}

@media screen and (max-width: 37.5em) {
  .map__contact {
    display: none;
  }
}

.map__contact h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 5vmin;
  line-height: 1;
  color: currentColor;
}

.modal {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(94, 93, 163, 0.2)), color-stop(rgba(2, 2, 2, 0.5)), to(rgba(226, 26, 26, 0.3))), url("/assets/images/hero-2.jpg") center center/cover no-repeat, #020202;
  background: linear-gradient(to right, rgba(94, 93, 163, 0.2), rgba(2, 2, 2, 0.5), rgba(226, 26, 26, 0.3)), url("/assets/images/hero-2.jpg") center center/cover no-repeat, #020202;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1050;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal--is-visible {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

.modal__close {
  color: #FAFAFA;
  font-size: 5rem;
  line-height: 0.85;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.modal__close:hover {
  color: #ff9e42;
}

.modal__title {
  font-size: 6rem;
  color: #ffc02e;
}

.modal__description {
  max-width: 50rem;
  margin-bottom: 6rem;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: nowrap column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
          align-items: stretch;
  min-width: 50rem;
}

.form > * {
  -webkit-box-flex: 1;
          flex: 1;
}

.form__group {
  padding: 1rem 0;
}

.form__input {
  width: 100%;
}

.form__btn {
  align-self: start;
  margin-top: 3rem;
}

.footer {
  background-color: #191D32;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center;
  grid-gap: 3rem;
  padding: 6rem 0;
}

@media screen and (min-width: 37.5em) and (max-width: 1100px) {
  .footer {
    grid-template-columns: repeat(4, minmax(-webkit-min-content, -webkit-max-content));
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-column-gap: 6rem;
  }
}

.footer__lists {
  text-align: center;
}

@media screen and (min-width: 37.5em) {
  .footer__lists {
    text-align: start;
  }
}

.footer__list {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.footer__link {
  color: #a8a8a8;
}

.footer__link:hover {
  color: #87cefa;
}

.copyright {
  background-color: #171717;
  grid-column: full-start / full-end;
  padding: 3rem 0;
  font-variant: small-caps;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

@media screen and (min-width: 37.5em) {
  .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    justify-content: space-around;
  }
}

.bg--light {
  background-color: #fff;
}

.bg--dark {
  background-color: #000;
}

/*# sourceMappingURL=app.css.map */
