/* Basic Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #fff;
}

a {
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #ccc;
}

p {
  margin: 1.2rem 0;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

li {
  margin-bottom: 1rem;
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

figure img {
  display: block;
  margin: 0 auto;
}

caption,
figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 2px;
  max-width: 100%;
  width: 100%;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

table th,
table td {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

table th,
table tfoot td {
  font-weight: 700;
  text-align: left;
}

table td {
  border-bottom: 1px solid #ccc;
  padding: .6rem;
  text-align: left;
  vertical-align: top;
}

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}

textarea:focus,
select:focus {
  border: 1px solid #9534f0;
  outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  outline: 0;
  border: 1px solid #604ec957;
}

textarea {
  appearance: none;
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

pre {
  overflow: auto;
}

code {
  background: gainsboro;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* typography */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
}

.main-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  text-align: left;
  height: 100vh;
}

.main-header::before {
  content: '';
  background: url("/assets/images/hero-1.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .55;
}

.main-menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 6rem;
}

.main-menu__items {
  display: -webkit-box;
  display: flex;
}

.main-menu__item {
  margin-left: 1rem;
  color: #fff;
}

.bg--light {
  background-color: #fff;
}

.bg--dark {
  background-color: #000;
}

/*# sourceMappingURL=app.css.map */
