/* Basic Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #FAFAFA;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #ccc;
}

p {
  margin: 1.2rem 0;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

li {
  margin-bottom: 1rem;
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

figure img {
  display: block;
  margin: 0 auto;
}

caption,
figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 2px;
  max-width: 100%;
  width: 100%;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

table th,
table td {
  padding: 0.6rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

table th,
table tfoot td {
  font-weight: 700;
  text-align: left;
}

table td {
  border-bottom: 1px solid #ccc;
  padding: .6rem;
  text-align: left;
  vertical-align: top;
}

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
}

textarea:focus,
select:focus {
  border: 1px solid #9534f0;
  outline: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: none;
  height: 38px;
  padding: 6px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  outline: 0;
  border: 1px solid #604ec957;
}

textarea {
  appearance: none;
  min-height: 65px;
  padding-bottom: 6px;
  padding-top: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

pre {
  overflow: auto;
}

code {
  background: gainsboro;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 90%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* typography */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 100%;
}

.site-container {
  display: grid;
  grid-template-rows: 6rem 75vh 20vh repeat(2, -webkit-min-content) 40vw repeat(7, -webkit-min-content);
  grid-template-rows: 6rem 75vh 20vh repeat(2, min-content) 40vw repeat(7, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.site-container > * {
  padding: 2rem;
  font-size: 3rem;
}

.header {
  background-color: #FF9F43;
  grid-column: center-start / center-end;
}

.header::before {
  content: '';
  background: url("/assets/images/hero-2.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(75vh + 6rem);
  z-index: -1;
  opacity: .95;
}

.showcase {
  background-color: #00316E;
  grid-column: center-start / center-end;
}

.info {
  background-color: #001C57;
  grid-column: full-start / full-end;
}

.features {
  grid-column: center-start / center-end;
  background-color: #01A3A4;
}

.team__cta {
  background-color: #707070;
  grid-column: full-start / full-end;
  height: 30vh;
}

.team__members {
  background-color: #171717;
  grid-column: full-start / col-end 2;
}

.team__content {
  background-color: #00316E;
  grid-column: 4 / full-end;
}

.tours__activites {
  background-color: #001C57;
  grid-column: center-start / center-end;
}

.tours__cta {
  background-color: #FF9F43;
  grid-column: full-start / full-end;
  height: 30vh;
}

.testimonals__video {
  background-color: #287899;
  grid-column: center-start / col-end 4;
}

.testimonals__content {
  background-color: #FFBF2E;
  grid-column: col-start 5 / center-end;
}

.testimonals__counter {
  background-color: #A7C9D3;
  grid-column: center-start / center-end;
}

.testimonals__slider {
  background-color: #01A3A4;
  grid-column: center-start / center-end;
}

.gallery {
  background-color: #171717;
  grid-column: full-start / full-end;
}

.footer {
  background-color: #FFBF2E;
  grid-column: full-start / full-end;
}

.bg--light {
  background-color: #fff;
}

.bg--dark {
  background-color: #000;
}

/*# sourceMappingURL=app.css.map */
