/* Basic config */
:root {
  --orange-brand: #{$orange-brand};
  --yellow-brand: #{$yellow-brand};
  --cyan-brand: #{$cyan-brand};
  --blue-brand: #{$blue-brand};

  --background-color: #{$grey--lighter};

  --text-color: #{$grey--light};
  --heading-color: #{$black};
  --text-line-height: 1.6;

  --font-primary: #{$font-primary};
  --font-display: #{$font-display};

  --font-size--small: 1.4rem;
  --font-size--medium: 1.7rem;
  --font-size--large: 2rem;  
  --font-size--heading: 5vmin;

  --shadow--dark: 0 2rem 6rem rgba(#{$black}, .4);
  --shadow--light: 0 2rem 6rem rgb(#{$white}, .3);  

  --font-weight--light: 300;
  --font-weight--noramal: 400;
  --font-weight--semi-bold: 600;


}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    font-size: 62.5%; // 10px/16px = 62.5% => 1rem = 10px  
    // font-size: calc(var(--font-size-small) + (var(--font-size-large) - var(--font-size-small)) * ((100vw - 360px) / (1200px - 360px)));
    // @media screen and (min-width: $breakpoint-lg) {
    //    font-size: 67.5%; 
    // }
}

body {
  font-size: var(--font-size--small); // Mobile first
  line-height: var(--text-line-height);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  font-weight: var(--font-weight--light);
}

// Overall site layout
.site-container {
  position: relative;
  display: grid;
  grid-template-rows:  6rem calc(100vh - 6rem) repeat(13, min-content);
  grid-template-columns:  [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, max-content) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];   

  // Background dots
  background: linear-gradient(90deg,#fff 20px,transparent 1%) center,linear-gradient(#fff 20px,transparent 1%) center,#c7c4c4;
  background-size: 22px 22px;

   @media screen and (min-width: $breakpoint-sm) {
    display: grid;
    grid-template-rows:  6rem 80vh repeat(3, min-content) 30vw repeat(9, min-content);
    grid-template-columns:  [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];   
  }

  @media screen and (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-rows:  6rem calc(85vh - 6rem) 15vh repeat(3, min-content) repeat(9, min-content);
    grid-template-columns:  [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];   
  }
  
  // & > * { 
  //   padding: 1rem;
  // }
}




