// RESPONSIVE BREAKPOINTS

$breakpoint-xl: 75em;     // 1200px/16px = 75
$breakpoint-lg: 65em;     // 1000/12 = 65    
$breakpoint-md: 50em;     // 800/16 = 50
$breakpoint-sm: 37.5em;   // 600/16 = 37.5


