// Colors vars

$blue-brand: #00316E;
$cyan-brand: #01A3A4;
$orange-brand: #FF9F43;
$yellow-brand: #FFBF2E;

$blue: #2B6EB1;

$blue--light: #287899;
$blue--lighter: #A7C9D3;

$blue--dark: #1D2C8F;
$blue--darker: #001C57;

$grey--lighter:#FAFAFA;
$grey--light:#707070;
$grey--dark: #171717;

$black: #111;
$white: #fff;
