// Colors vars

$blue-brand: hsl(213, 100%, 22%);
$cyan-brand: hsl(180, 99%, 32%);
$orange-brand: hsl(29, 100%, 63%);
$yellow-brand: hsl(42, 100%, 59%);

$blue: #2B6EB1;

$blue--light: #287899;
$blue--lighter: #A7C9D3;

$blue--dark: #1D2C8F;
$blue--darker: #001C57;

$grey--lighter:#FAFAFA;
$grey--light:#707070;
$grey--dark: #171717;

$black: #202020;
$white: #fff;


